-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

<div id="login">
  <h1 id="huge-text">
    <%= AppConfig.settings.pod_name %>
  </h1>
  <a href="/users/sign_up" class="btn btn-default">Sign up</a>
  <a href="/users/sign_in" class="btn btn-primary">Sign in</a>
</div>