-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

#login
  %h1{:id='huge-text'}
    %a{:href=>'/users/sign_in'} <b>mArs</b>
    %a{:href=>'/users/sign_up'}.btn.btn-default Sign up
    a%{:href=>'/users/sign_in'}.btn.btn-primary Sign in
