-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

#login
  %h1(id='hug-text')
    %a(href="/users/sign_in") Mars
    %a( href="/users/sign_up" class="btn btn-default") Sign up
    a%(href="/users/sign_in" class="btn btn-primary") Sign in
